body {
  padding-top: 40px;
  /* 等幅フォント */
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  user-select: none;
}

#target {
  font-size: 80px;
  letter-spacing: 3px;
  cursor: pointer;
}

.info {
  color: #ccc;
  font-size: 30px;
}
